
body {
	height: 100%;
	overflow-y:hidden;
}

.bg0,.bg1,.bg2,.bg3,.bg4,.bg5 {
		background-color:black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg0,.bg1,.bg2,.bg3,.bg4,.bg5 {
    background-image: url("../img/sunset001.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg0 {
    background-image: url("../img/sunset000.jpeg");
} */

.bg0 {
		background-color:black;
}

.bg1 {
    background-image: url("../img/sunset000.jpeg");
}

.bg2 {
		font-size:1.1em;
    background-image: url("../img/sunset003.jpeg");
}

.bg3 {
		font-size:1.2em;
    background-image: url("../img/sunset005.jpeg");
}

.bg4 {
		font-size:1.3em;
    background-image: url("../img/sunset004.jpeg");
}

/* .bg5 {
    background-image: url("../img/sunset005.jpeg");
} */


#number {
	color:white;
	position:fixed;
	top: 27px;
	left: 527px;
}

h1 {
	color:white;
}

#Name {
	position: fixed;
	top: 127px;
	left: 528px;
	width: 365px;
	font-size: 27px;
}

.Name, .Name0, .Name1, .Name2, .Name3, .Name4 {
	position: fixed;
	top: 127px;
	left: 528px;
	width: 365px;
	color: white;
	font-size: 27px;
}

.Name1, .Name2 {
	color: yellow;
}

.Name3, .Name4 {
	color: purple;
}

#HName {
	position: fixed;
	top: 207px;
	left: 528px;
	width: 365px;
	//color: cyan;
	font-size: 27px;
}

.HName, .HName0, .HName1, .HName2, .HName3, .HName4 {
	position: fixed;
	top: 207px;
	left: 528px;
	width: 365px;
	color: cyan;
	font-size: 27px;
}

.HName1, .HName2 {
	color: black;
}

.HName3, .HName4 {
	color: purple;
}

#EDate, #HDate {
	position: fixed;
	top: 287px;
	left: 528px;
//	color: cyan;
	font-size: 27px;
}

#HDate {
	top: 327px;
}

.edate, .edate0 {
	color:cyan;
}

.hdate, .hdate0 {
	color:cyan;
}

.edate1,.edate2,.edate3,.edate4
.hdate1,.hdate2,.hdate4{
	color: black;
}

.hdate3 {
	color:yellow;
}

#Comments01 {
	position: fixed;
	top: 707px;
	left: 128px;
	font-size: 17px;
}

.Comment010 {
	color: cyan;
}

.Comment011, .Comment012, .Comment014 {
	color: black;
}

 .Comment013 {
	color:yellow;
}

#Pic01{
	position: fixed;
	visibility: visible;
	top: 127px;
	left: 128px;
	width: 365px;
	height: 256px;
}

#Pic02{
	position: fixed;
	visibility: visible;
	top: 427px;
	left: 628px;
	width: 365px;
	height: 256px;
}

#fbook,#gotofbook{
	position: fixed;
	top: 27px;
	left:1513px;
	width:59px;
	height:59px;
	display:inline;
}

#sbar01, #sbar02, #sbar03, #sbar04, #sbar05, #sbar06, #sbar07, #sbar08, #sbar09 {
	position: fixed;
	top: 27px;
	left:1113px;
	width:359px;
	height:39px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	display:inline;
}

#sbar02 {
	top: 92px;
}

#sbar03 {
	top: 157px;
}

#sbar04 {
	top: 222px;
}

#sbar05 {
	top: 287px;
}

#sbar06 {
	top: 287px;
}

#sbar07 {
	top: 287px;
}

#sbar08 {
	top: 287px;
}

#sbar09 {
	top: 287px;
}

.sbar {
	border: 2px solid brown;
	color:brown;
	background-color: black;
}

#monthSelect {
		display:show;
}
