button {
	width: 175px;
	height: 39px;
	display: inline;
}

#kboard {
		width: 175px;
		height: 175px;
		background-color: beige;
		text_align: center;
		border: 8px solid black;
}
.kb {
		padding: 15px;
		margin: 15px;
		border: 1px dashed blue;
}
