
#newPanel {
	position: fixed;
	height: 100%;
	width: 100%
	top: 0px;
	left: 0px;
	display:none;
	background-color:black;
	z-index:10;
	background-image: url("../img/sunset003.jpeg");
	background-repeat: no-repeat;
}

.newPanel {
	background-color: black;
}

#newTable {
	position: absolute;
	left:127px;
	top: 127px;
	background-image: url("../img/sunset003.jpeg");
	border:2px solid black;
}
