#sbar01, #sbar02, #sbar03, #sbar04, #sbar05, #sbar06, #sbar07, #sbar08, #sbar09 {
	position: fixed;
	top: 27px;
	left:1013px;
	width:359px;
	height:45px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 5px;
	display:inline;
}

#sbar02 {
	top: 97px;
}

#sbar03 {
	top: 167px;
}

#sbar04 {
	top: 237px;
}

#sbar05 {
	top: 307px;
}

#sbar06 {
	top: 377px;
}

#sbar07 {
	top: 447px;
}

#sbar08 {
	top: 515px;
}

#sbar09 {
	top: 587px;
}

.sbar {
	border: 2px solid brown;
	color:brown;
	background-color: black;
}
